<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper-projects">
        <div class="home">
          {%- if page.title -%}
            <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}
        
          {{ content }}
        
            {%- if site.posts.size > 0 -%}
              
                <h2 class="post-list-heading">{{ page.list_title | default: "Projekty" }}</h2>
                <div class="grid-container">
                  {%- for post in site.posts -%}
                    {%- if post.path contains 'projects' -%} 
                      <div class="project-container">
                        <a style="display:block" href="{{ post.url | relative_url }}">
                          <div class="project-contents">
                            <img class="Project-Cover" src="/assets/projects/{{post.path | remove: "_posts/projects/" | remove: ".md"}}/Cover.jpg">
                              <h3> {{ post.title | escape }} </h3>
                            {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
                            <span class="post-meta">{{ post.date | date: date_format }} 
                              {% if post.enddate %}
                                - {{  post.enddate }} 
                              {%- endif -%}
                            </span>
                            <p class="project-description"> 
                              {{ post.description }}
                            </p>
                          </div>
                          </a>
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                </div>
        
                <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
            {%- endif -%}
        
        </div>
        
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>


